configuration {
	font: "Courier Prime 24";
	lines: 4;
	eh: 1;
	width: 100;
	padding: 650;
	opacity: "85";
	bw: 0;
	line-padding: 20;
	hide-scrollbar: true;

	color-normal: "#1c2023, #90d2d0, #1c2023, #1c2023, #f3f4f5";
	color-urgent: "#1c2023, #90d2d0, #1c2023, #1c2023, #f3f4f5";
	color-active: "#1c2023, #90d2d0, #1c2023, #1c2023, #f3f4f5";
	color-window: "#1c2023, #1c2023, #90d2d0";
}
