.audio-wrapper {
    .header {
        margin-bottom: 15px;
    }
    
    .device-btn {
        border: 2px solid rgba($foreground, 0.5);
        border-radius: 5px;

        &:hover {
            color: $color4;
            background-color: rgba($foreground, 0.1);
        }
    }
}